.
.error-detail{
	color:red;
	font-size:16pt;
}
.cell {
	border: 1px solid black;
	font-size: 11pt;
	font-family: "Times New Roman", Times, serif;
	text-align: center;
	background: #f5f5dc;
}

button{
	width: 80px;
}
.wraper{
	position: relative;
	width: fit-content;
}
.commands-container{
	position: absolute;
	right: 0;
}

.hidden{
	display:none;
}

input{
	border: 0px;
	font-size: 11pt;
	font-family: "Times New Roman", Times, serif;
	text-align: center;
}

.error{
	border: 1px solid red;
}

#error-detail{
	color:red;
}